.banner {
	background: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 30px 0;
	flex-wrap: wrap;

	li {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 25px;
		flex-basis: 200px;

		span {
			color: var(--black);
			font-weight: bold;
			max-width: 200px;
			text-align: center;
			line-height: 150%;
		}
	}
}
