li.cartRow {
	background: var(--white);
	display: flex;
	align-items: center;
	padding: 30px;
	gap: 50px;
	flex-wrap: wrap;

	span {
		color: var(--black);
		font-weight: bold;
	}

	img {
		width: 45px;
	}

	.itemName {
		flex: 1;
	}

	.itemQuantity {
		flex-basis: 85px;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
	}

	.itemPrice {
		flex-basis: 50px;
		flex-grow: 0;
		flex-shrink: 0;
		text-align: right;
	}
}
