.wrapper {
	background-color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 30px;
	padding-bottom: 50px;

	h1 {
		color: var(--white);
		margin-bottom: -10px;
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 20px;

		li {
			background: var(--white);
			display: flex;
			align-items: center;
			padding: 30px;
			gap: 50px;
			flex-wrap: wrap;

			span {
				color: var(--black);
				font-weight: bold;
			}

			img {
				width: 45px;
			}

			.itemName {
				flex: 1;
			}

			.itemQuantity {
				flex-basis: 85px;
				flex-grow: 0;
				flex-shrink: 0;
				display: flex;
				justify-content: space-between;
			}

			.itemPrice {
				flex-basis: 50px;
				flex-grow: 0;
				flex-shrink: 0;
				text-align: right;
			}
		}
	}

	.sum {
		display: flex;
		justify-content: space-between;

		span {
			font-weight: bold;
			font-size: 26px !important;
		}
	}

	.btnNext {
		align-self: flex-end;
	}

	@media screen and (max-width: 550px) {
		li {
			padding: 20px !important;
			gap: 15px !important;
		}
	}

	@media screen and (max-width: 375px) {
		.itemQuantity {
			flex-basis: 120px !important;
		}
	}
}
